In [1]:
import pandas as pd
import numpy as np

# 1 - Usar .loc ao inves de .query()

In [2]:
df = pd.read_csv("df_Produtos.csv")
df.loc[(df["Categoria_do_produto"] == "Carrinho") & (df["Preco_do_produto"] > 72)]

,Numero_do_produto,Nome_do_produto,Categoria_do_produto,Marca do produto,Preco_do_produto
8,9,Produto 9,Carrinho,Marca C,72.44
21,22,Produto 22,Carrinho,Marca A,73.72
31,32,Produto 32,Carrinho,Marca B,93.89
32,33,Produto 33,Carrinho,Marca A,92.65

In [3]:
df.query('Categoria_do_produto == "Carrinho" and Preco_do_produto > 72')

,Numero_do_produto,Nome_do_produto,Categoria_do_produto,Marca do produto,Preco_do_produto
8,9,Produto 9,Carrinho,Marca C,72.44
21,22,Produto 22,Carrinho,Marca A,73.72
31,32,Produto 32,Carrinho,Marca B,93.89
32,33,Produto 33,Carrinho,Marca A,92.65

# 2 - Usar nomes das colunas com espacos

In [31]:
df = pd.read_csv("df_Produtos.csv")
df["Marca do produto"].head(5)

0    Marca E
1    Marca B
2    Marca C
3    Marca A
4    Marca C
Name: Marca do produto, dtype: object

In [5]:
df.query('Categoria_do_produto == "Carrinho" and `Marca do produto` == "Marca C"')

,Numero_do_produto,Nome_do_produto,Categoria_do_produto,Marca do produto,Preco_do_produto
2,3,Produto 3,Carrinho,Marca C,33.15
8,9,Produto 9,Carrinho,Marca C,72.44

In [32]:
df = pd.read_csv("df_Produtos.csv")
df = df.rename(columns={"Marca do produto":"Marca_do_produto"})
df.Marca_do_produto.head()

0    Marca E
1    Marca B
2    Marca C
3    Marca A
4    Marca C
Name: Marca_do_produto, dtype: object

In [7]:
df.query('Categoria_do_produto == "Carrinho" and Marca_do_produto == "Marca C"')

,Numero_do_produto,Nome_do_produto,Categoria_do_produto,Marca_do_produto,Preco_do_produto
2,3,Produto 3,Carrinho,Marca C,33.15
8,9,Produto 9,Carrinho,Marca C,72.44

# 3 - Modificar a df original quando fizer cópia

In [33]:
df = pd.read_csv("df_Produtos.csv")

df_prod = df.query('Categoria_do_produto == "Carrinho"')
df_prod["Categoria"] = df_prod["Categoria_do_produto"].str.upper()

C:\Users\User\AppData\Local\Temp\ipykernel_18608\1231998461.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prod["Categoria"] = df_prod["Categoria_do_produto"].str.upper()

In [9]:
df = pd.read_csv("df_Produtos.csv")

df_prod = df.query('Categoria_do_produto == "Carrinho"').copy()
df_prod["Categoria"] = df["Categoria_do_produto"].str.upper()
df_prod

,Numero_do_produto,Nome_do_produto,Categoria_do_produto,Marca do produto,Preco_do_produto,Categoria
1,2,Produto 2,Carrinho,Marca B,34.21,CARRINHO
2,3,Produto 3,Carrinho,Marca C,33.15,CARRINHO
3,4,Produto 4,Carrinho,Marca A,31.94,CARRINHO
7,8,Produto 8,Carrinho,Marca E,32.85,CARRINHO
8,9,Produto 9,Carrinho,Marca C,72.44,CARRINHO
19,20,Produto 20,Carrinho,Marca A,70.29,CARRINHO
21,22,Produto 22,Carrinho,Marca A,73.72,CARRINHO
22,23,Produto 23,Carrinho,Marca B,49.90,CARRINHO
25,26,Produto 26,Carrinho,Marca B,22.64,CARRINHO
31,32,Produto 32,Carrinho,Marca B,93.89,CARRINHO
32,33,Produto 33,Carrinho,Marca A,92.65,CARRINHO

In [34]:
df.sample(10)

,Numero_do_produto,Nome_do_produto,Categoria_do_produto,Marca do produto,Preco_do_produto
43,44,Produto 44,Brinquedo de Pelúcia,Marca B,47.60
17,18,Produto 18,Quebra-Cabeça,Marca D,59.91
20,21,Produto 21,Quebra-Cabeça,Marca A,79.71
0,1,Produto 1,Brinquedo Educativo,Marca E,38.58
41,42,Produto 42,Brinquedo Educativo,Marca D,33.84
25,26,Produto 26,Carrinho,Marca B,22.64
38,39,Produto 39,Quebra-Cabeça,Marca E,54.91
48,49,Produto 49,Brinquedo Educativo,Marca C,45.57
5,6,Produto 6,Brinquedo de Pelúcia,Marca A,52.55
28,29,Produto 29,Jogo de Tabuleiro,Marca E,73.04

# 4 - Criar varias DFs ao inves de um unico comando em cadeia (chain command)

In [11]:
df = pd.read_csv("df_Produtos.csv")
df1 = df.query('Categoria_do_produto == "Carrinho"')
df2 = df1.groupby("Marca do produto")[["Preco_do_produto"]].sum()
df_final = df2.sort_values("Preco_do_produto",ascending=False)
df_final

                  Preco_do_produto
Marca do produto
Marca A                     268.60
Marca B                     200.64
Marca C                     105.59
Marca E                      32.85

In [12]:
df = pd.read_csv("df_Produtos.csv")
df_final = (df.query('Categoria_do_produto == "Carrinho"')
            .groupby("Marca do produto")[["Preco_do_produto"]].sum()
            .sort_values("Preco_do_produto",ascending=False)
           )
df_final

                  Preco_do_produto
Marca do produto
Marca A                     268.60
Marca B                     200.64
Marca C                     105.59
Marca E                      32.85

# 5 - Repertir comandos para realizar a mesa transformacao em diferentes base

In [13]:
df_1 = pd.read_csv("df_Vendas_1.csv")
df_1['Data'] = pd.to_datetime(df_1['Ano da venda'].astype(str) + '-' + df_1['Mes da venda'].astype(str) + '-01')
df_1 = df_1.drop(["Mes da venda", "Ano da venda"], axis=1)
df_1.head()

   Numero da loja  Numero do produto  Quantidade vendida       Data
0               1                  1                47.0 2021-01-01
1               1                  2                10.0 2021-01-01
2               1                  3                32.0 2021-01-01
3               1                  4                11.0 2021-01-01
4               1                  5                12.0 2021-01-01

In [14]:
df_2 = pd.read_csv("df_Vendas_2.csv")
df_2['Data'] = pd.to_datetime(df_2['Ano da venda'].astype(str) + '-' + df_2['Mes da venda'].astype(str) + '-01')
df_2 = df_2.drop(["Mes da venda", "Ano da venda"], axis=1)
df_2.head()

   Numero da loja  Numero do produto  Quantidade vendida       Data
0              40                 21                  32 2022-02-01
1              40                 22                   0 2022-02-01
2              40                 23                  10 2022-02-01
3              40                 24                  44 2022-02-01
4              40                 25                  20 2022-02-01

In [43]:
df_1 = pd.read_csv("df_Vendas_1.csv")
df_2 = pd.read_csv("df_Vendas_2.csv")
df_1.head()

,Numero da loja,Numero do produto,Mes da venda,Ano da venda,Quantidade vendida
0,1,1,1,2021,47.0
1,1,2,1,2021,10.0
2,1,3,1,2021,32.0
3,1,4,1,2021,11.0
4,1,5,1,2021,12.0

In [44]:
def tratamento(df):
    df['Data'] = pd.to_datetime(df['Ano da venda'].astype(str) + '-' + df['Mes da venda'].astype(str) + '-01')
    df = df.drop(["Mes da venda", "Ano da venda"], axis=1)
    return df

df_1 = tratamento(df_1)
df_2 = tratamento(df_2)
df_1.head()

   Numero da loja  Numero do produto  Quantidade vendida       Data
0               1                  1                47.0 2021-01-01
1               1                  2                10.0 2021-01-01
2               1                  3                32.0 2021-01-01
3               1                  4                11.0 2021-01-01
4               1                  5                12.0 2021-01-01

# 6 - Agrupar manualmente ao inves de usar o Groupby

In [17]:
df = pd.read_csv("df_Produtos.csv")
df.loc[df["Categoria_do_produto"] == "Carrinho"]["Preco_do_produto"].sum()

607.68

In [18]:
df.groupby("Categoria_do_produto")["Preco_do_produto"].sum()

Categoria_do_produto
Brinquedo Educativo     691.75
Brinquedo de Pelúcia    424.63
Carrinho                607.68
Jogo de Tabuleiro       372.20
Quebra-Cabeça           762.94
Name: Preco_do_produto, dtype: float64

# 7 - Salvar Arquivos muito grandes em CSV

In [19]:
import pandas as pd

# Gerando um DataFrame fictício com um milhão de linhas
data = {'Coluna1': range(1, 1000001),
        'Coluna2': range(1000001, 2000001)}

df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Coluna1  1000000 non-null  int64
 1   Coluna2  1000000 non-null  int64
dtypes: int64(2)
memory usage: 15.3 MB

In [20]:
%%timeit
df.to_csv("teste.csv")

1.33 s ± 44 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [21]:
%%timeit
df.to_parquet("teste.csv")

71.4 ms ± 2.51 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [22]:
%%timeit
df.to_feather("teste.csv")

19.2 ms ± 371 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
%%timeit
df.to_pickle("teste.csv")

7.12 ms ± 622 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# 8 - Voltar para excel para fazer formatacao condicional

In [50]:
df = pd.read_csv("df_Produtos.csv")
df.sort_values('Preco_do_produto').sample(10)[['Categoria_do_produto','Marca do produto','Preco_do_produto']]\
.reset_index(drop=True)\
.style\
.background_gradient(cmap="Greens")

# 9 - Usar comandos em cadeia em uma linha gigantesca ao inves de usar parenteses

In [25]:
df = pd.read_csv("df_Produtos.csv")
df = df.query('Categoria_do_produto == "Carrinho"').groupby("Marca do produto")[["Preco_do_produto"]].sum().sort_values("Preco_do_produto",ascending=False)
df

                  Preco_do_produto
Marca do produto
Marca A                     268.60
Marca B                     200.64
Marca C                     105.59
Marca E                      32.85

In [53]:
df = pd.read_csv("df_Produtos.csv")
df = (df.query('Categoria_do_produto == "Carrinho"')
      .groupby("Marca do produto")[["Preco_do_produto"]].sum()
      .sort_values("Preco_do_produto",ascending=False)
     )
df

                  Preco_do_produto
Marca do produto
Marca A                     268.60
Marca B                     200.64
Marca C                     105.59
Marca E                      32.85

# 10 - Nao usar dados categoricos para colunas com poucos valores

In [27]:
df = pd.read_csv("df_Produtos.csv")
df.info()
df.Categoria_do_produto.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Numero_do_produto     50 non-null     int64
 1   Nome_do_produto       50 non-null     object
 2   Categoria_do_produto  50 non-null     object
 3   Marca do produto      50 non-null     object
 4   Preco_do_produto      50 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ KB

Categoria_do_produto
Brinquedo Educativo     13
Quebra-Cabeça           12
Carrinho                11
Brinquedo de Pelúcia     8
Jogo de Tabuleiro        6
Name: count, dtype: int64

In [28]:
df["Categoria_do_produto"] = df["Categoria_do_produto"].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Numero_do_produto     50 non-null     int64
 1   Nome_do_produto       50 non-null     object
 2   Categoria_do_produto  50 non-null     category
 3   Marca do produto      50 non-null     object
 4   Preco_do_produto      50 non-null     float64
dtypes: category(1), float64(1), int64(1), object(2)
memory usage: 1.9+ KB

In [29]:
df.Categoria_do_produto.value_counts()

Categoria_do_produto
Brinquedo Educativo     13
Quebra-Cabeça           12
Carrinho                11
Brinquedo de Pelúcia     8
Jogo de Tabuleiro        6
Name: count, dtype: int64